<div class="wrapper">
    <h1>{{date | date: 'MMMM d, y, HH:mm:ss'}}</h1>
    <nz-space>
        <button *nzSpaceItem nz-button nzType="dashed" (click)="onAddMinutes(10)">Add 10 minutes</button>
        <button *nzSpaceItem nz-button nzType="dashed" (click)="onAddHours(1)">Add 1 hour</button>
        <button *nzSpaceItem nz-button nzType="dashed" (click)="onAddHours(4)">Add 4 hours</button>
        <button *nzSpaceItem nz-button nzType="dashed" (click)="onAddHours(8)">Add 8 hours</button>
        <button *nzSpaceItem nz-button nzType="dashed" (click)="onAddHours(24)">Add 1 day</button>
        <nz-date-picker *nzSpaceItem nzShowTime [nzAllowClear]="false" [nzFormat]="'MMMM d, y, HH:mm:ss'" [(ngModel)]="date"></nz-date-picker>
    </nz-space>
    <nz-space>
        <button *nzSpaceItem nz-button nzType="primary" [disabled]="intervalId === undefined" (click)="onStopTimer()">Stop Timer</button>
        <button *nzSpaceItem nz-button nzType="primary" [disabled]="intervalId !== undefined" (click)="onStartTimer()">Start Timer</button>
    </nz-space>
</div>
